.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2A2D3C;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-location-icon {
  font-size: 18px;
}

.footer-locations {
  padding-top: 2px;
  font-size: 10px;
}

.fa-folder-open {
  font-size: 19px;
}

.footer-categories {
  font-size: 10px;
}