.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: midnightblue;
}

.link {
  text-decoration: none;
  color: white;
}