.location-details {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 6px;
  margin-left: 10px;
  padding: 0px 20px 12px 0px;
  border-bottom: solid 1px #292D3C;
  color: white;
}

.details-property {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-bottom: 8px;
}

.details-title {
  margin-right: 20px;
  padding-bottom: 1px;
  font-size: 13px;
  color: lightgray;
}

.connectd-categories {
  display: flex;
  flex-direction: column;
}

.close-button {
  width: 48px;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #292D3C;
  color: lightgray;
}