.location-details {
  display: flex;
  flex-direction: column;
  color: white;
}

.done-button {
  width: 50px;
}

.connectd-categories {
  display: flex;
  flex-direction: column;
}

.details-property {
  display: flex;
}

.details-title {
  margin-right: 20px;
}